if SHIELD_CORAX_LEFT

config ZMK_KEYBOARD_NAME
    default "Corax"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_CORAX_LEFT || SHIELD_CORAX_RIGHT

config ZMK_SPLIT
    default y

endif
